body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}



.respCont {
  height: 50vh;
  overflow-y: auto;
}


#name {
  width : 100%;
  font-family: monospace;
}