extends layout

block content
  h1 Websocket client
  unless authenticated
    form(action="/users/login", method="post")
      .row
        .col-sm-3
          .form-group
            input.form-control(name='username', placeholder='Username')
        .col-sm-3
          .form-group
            input.form-control(name='password', placeholder='Password', type='password')
        .col-sm-3
          .form-group
            input.btn.btn-primary(type="submit")
  if authenticated
    a.btn.btn-watn(href="/clear") logout
  hr
  .websocket
    .row
      .col-md-12
        form.form-inline
          .form-group
            label(for='connect') WebSocket connection:
            button#connect.btn.btn-default(type='submit') Connect
            button#disconnect.btn.btn-default(type='submit', disabled='disabled')
              | Disconnect
    hr
    .row
      .col-sm-7
        h3 Send
        form
          .row
            .col-md-12
              .form-group
                textarea#name.form-control(name="name", rows="5", placeholder='Data')
          .row
            .col-md-12
              .input-group
                input#endpoint.form-control(type='text', placeholder='Where', value='/testing', name="endpoint")
                .input-group-btn
                  button#send.btn.btn-success(type='submit') Send
          hr
          .row
            .col-xs-12
              .input-group
                input#listen.form-control(type='text', placeholder='Listen to...')
                .input-group-btn
                  button#setListen.btn.btn-info(type='submit') Listen
          .row
            .col-xs-12
              p#listListened.help-block
            
      .col-sm-5
        h3 Responses
        pre.respCont
          code#responses



block script
  script(type="text/javascript")
    | var authToken = "#{ authtoken || '' }";
  script(src="/javascripts/client.js")
  