doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    script(src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.3.0/sockjs.js", type="text/javascript")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js", type="text/javascript")
    .container-fluid
      block content
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.js", type="text/javascript")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js", type="text/javascript")
    block script